.hero-element__img {
    width: 100%;
}

.hero-element__title {
    margin-top: 1rem;
}

.hero-element__text {
    margin-top: 1rem;
}

.book__book {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.book__book .btn:hover {
    color: #0e2e5f;
    background-color: #fff;
}