/*
Made by Ivan Steblenko 01/09/17.

Content:
Global Styles
Navigation
Header
Text Styles
Page Structure
Headings
Forms
Comments
Extras
*/
/* ============================================= */
/* =============GLOBAL STYLES=================== */
/* ============================================= */
* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #777;
}
a {
    transition: all .35s;
    color: #a185ae;
}
hr {
    border-width: 0;
    margin: 50px 0;
}
h1 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}
h2 {
    font-weight: 300;
}
p {
    line-height: 1.5;
    margin: 1rem 0 1rem 0;
}
header {
    height: 650px;
    background-size: cover;
    background-position: center top;
    background:  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/header.jpg");
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center
}
section {
    padding: 100px 0;
}
.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #a185ae;
    border-color: #a185ae;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover{
    color: #fff;
    background-color: #a185ae;
    border-color: #a185ae;
}
.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
    color: #222;
    background-color: #fff;
    border-color: #fff;
}
.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.no-padding {
    padding: 0;
}
[class*="col-"] {
    margin-bottom: 30px;
}
[class*="col-"]:last-of-type {
    margin-bottom: 0px;
}
.hidden-column {
    visibility: hidden;
    height: 0;
}
.text-decoration-none {
    text-decoration: none !important;
}
.padding-left-2 {
    padding-left: 2rem !important;
}
/* ============================================= */
/* =============NAVIGATION====================== */
/* ============================================= */
.navbar .container-fluid {
    padding: 0;
}
.navbar .navbar-header {
    height: 100px;
}
.navbar .navbar-header .navbar-brand {    
    white-space: nowrap;
}
.navbar .navbar-header .navbar-brand img {
    height: 5rem;
    float: left;
    margin-right: 1rem;
    position: relative;
    top: 5px;
}
.navbar .navbar-header .navbar-brand img,
.navbar .navbar-header .navbar-brand div  {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.navbar .navbar-header .navbar-brand .clinic-logo-title .clinic-academy {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 1rem;    
    height: 1.5rem;
    line-height: 1.5rem;
    color: #777;
}
.navbar .navbar-header .navbar-brand .clinic-logo-title .clinic-title {
    font-size: 2rem;
    height: 3.5rem;
    line-height: 2rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    white-space: normal;
    color: rgb(30, 128, 185);
}
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(34,34,34,.05);
    transition: all .35s;
}
/* ============================================= */
/* =============HEADER========================== */
/* ============================================= */
header .header-content {
    padding: 100px 15px;
}
header .header-content {
    position: relative;
    width: 100%;
    text-align: center
}
header .header-content .header-content-inner p {
    font-weight: 400;
    color: rgba(255,255,255,.95);
    font-size: 16px;
    margin-bottom: 50px;
}

/* ============================================= */
/* =============PAGE STRUCTURE=================== */
/* ============================================= */
.bg-primary {
    background-color: rgb(30, 128, 185) !important;
}
.bg-secondary {
    background-color: #2d529f !important;
}
.bg-tertiary  {
    background-color: #3aabdd !important;
}
.bg-primary h2 {
    color: #fff;
}
.medical-treatment {
    margin: -147px 0 0 0;
    color: #fff;
}
.medical-treatment h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}
.medical-treatment h5 {
    font-family: 'Open Sans', sans-serif;
}
.medical-treatment a {
    color: #fff;
}
.medical-treatment > div {
    height: 94px;
    position: relative;
    z-index: 2;
}
.medical-treatment > div:nth-child(1) {
    z-index: 3;
}
.medical-treatment > div:nth-child(1)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-bottom: 47px solid transparent;
    border-left: 40px solid rgb(30, 128, 185);
    z-index: 5;
}
.medical-treatment .medical-treatment-box {
    height: 100%;
    width: 100%;
}
.medical-treatment .medical-treatment-box .medical-treatment-box-icon {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -20px;
    text-align: center;
    width: 60px;
}
.medical-treatment .medical-treatment-box .medical-treatment-box-info {
    padding-left: 4rem;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
.medical-treatment .medical-treatment-box .medical-treatment-box-info label {
    opacity: 0.5;
    margin: -3px 0 0;
    display: block;
}
.medical-treatment .medical-treatment-box .medical-treatment-box-info strong {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    display: block;
}
@media (min-width: 768px) {
        /* ============================================= */
    /* =============GLOBAL STYLES=================== */
    /* ============================================= */
    /* ============================================= */
    /* =============NAVIGATION====================== */
    /* ============================================= */
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34,34,34,.05);
    }
    .navbar-default.affix .navbar-header {
        height: 4rem;
    }
    .navbar-default.affix .navbar-header .navbar-brand img {
        height: 3rem;
    }    
    .navbar-default.affix .navbar-header .navbar-brand .clinic-academy {
        font-size: 0.8rem;
    }
    .navbar-default.affix .navbar-header .navbar-brand .clinic-title {
        font-size: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        width: 800px;
        white-space: normal;
    }
    .navbar-default {
        background-color: rgba(255,255,255,.8);
    }
    .navbar-default .container-fluid {
        position: relative;
    }
    .navbar .navbar-header {
        float: left;
    }
    .navbar #collapseNavbar {
        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar-default .nav > li > a {
        font-size: 1.6rem;
    }
    .navbar-default.affix .nav > li > a {
        font-size: 1.2rem;
    }
    .navbar-default .nav > li > a.active, 
    .navbar-default .nav > li > a:focus {
        color: rgb(30, 128, 185) !important;
    }
    /* ============================================= */
    /* =============HEADER========================== */
    /* ============================================= */
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        text-align: left;
        margin-left: 10rem;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    header .header-content .header-content-inner p {
        font-size: 20px;
        margin-top: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
}