/*
Made by Ivan Steblenko 01/09/17.

Content:
Global Styles
Navigation
Header
Text Styles
Page Structure
Headings
Forms
Comments
Extras
*/
/* ============================================= */
/* =============GLOBAL STYLES=================== */
/* ============================================= */
* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}
/* ============================================= */
/* =============NAVIGATION====================== */
/* ============================================= */
.navbar .container-fluid {
    padding: 0;
}
.navbar .navbar-header .navbar-brand {
    color:rgb(89, 119, 164);
    white-space: nowrap;
}
.navbar .navbar-header .navbar-brand img {
    height: 5rem;
    float: left;
    margin-right: 1rem;
}
.navbar .navbar-header .navbar-brand .clinic-academy {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 1rem;    
    height: 1.5rem;
    line-height: 1.5rem;
}
.navbar .navbar-header .navbar-brand .clinic-title {
    font-size: 1.5rem;
    height: 3.5rem;
    line-height: 2rem;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(34,34,34,.05);
    transition: all .35s;
}

@media (min-width: 768px) {
        /* ============================================= */
    /* =============GLOBAL STYLES=================== */
    /* ============================================= */
    header  {
        min-height: 100%;
    }
    /* ============================================= */
    /* =============NAVIGATION====================== */
    /* ============================================= */
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34,34,34,.05);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #a185ae;
        font-size: 17px;
    }
    .navbar-default {
        background-color: rgba(255,255,255,.5);
    }
    .navbar .navbar-header {
        float: left;
    }
    .navbar #collapseNavbar {
        float: right;
    }
    .navbar-default .nav > li > a.active, 
    .navbar-default .nav > li > a:focus {
        color: #a185ae !important;
    }
}