@import '~../../shared/styles/global.scss';

.navbar {
    .navbar-brand {
        white-space: nowrap;
        .clinic-logo {
            margin-right: 1rem;
            height: 60px;
            width: 60px;
            margin-top: 5px;
            background: url('academy_logo.jpg') no-repeat;
        }
        .clinic-logo-title {
            .clinic-title {
                font-family: 'Exo 2', sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                color: #777;
            }
            .clinic-academy {
                font-size: 1.5rem;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                white-space: normal;
            }
        }
    }
}