$color-primary: #00426b;

.color-primary {
    color: $color-primary;
}
.color-white {
    color: #fff;
}
.bg-primary {
    background-color: #00426b !important;
}
.title-block {
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid #cacaca;
}