@import '~../../shared/styles/global.scss';

footer {
    position: relative;
    .copyright {
        padding-top: 1rem;
        padding-left: 1rem;
    }
}

footer .links {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 0.9rem;
}

footer .links a {
    color: #fff;
}

footer .links a:hover {
    text-decoration: none;
}