@import '~../../shared/styles/global.scss';

.contacts-page {
    .contacts-address {
        margin: 1rem 0 1rem 0;
    }
    .contacts-pnones {
        margin: 1rem 0 1rem 0;
        padding: 1rem 0 1rem 0;
        div > span {
            font-size: 1.4rem;
            padding-right: 2rem;        
        }
    }
    .contacts-work-hours {
        margin: 1rem 0 1rem 0;
        padding: 1rem 0 1rem 0;
        div > div {
            font-size: 1.4rem;
        }
    }
    .contacts-map {        
        padding: 0;
        margin: 0;
    }
    .contacts-map > div {
        height: 600px;
    }
}