@import '~../../shared/styles/global.scss';

.who-we-are {
    margin: 0;
    padding: 4rem 0px;
    z-index: -100;
    background-color: $color-primary;
    color: $color-white;
    .who-we-are__title {
        margin-bottom: 1rem;
    }
    .who-we-are__next {
        margin: auto;
        margin-top: 2rem;
        width: 500px;
        max-width: 100%;
    }
}