@import '~../../shared/styles/global.scss';

.title-block {
    position: relative;
    text-transform: uppercase;
    font-weight: $h-font-weight;
    h1 {
        font-size: 2.8rem;
        border-bottom: 1px solid #cacaca;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-weight: 400;
        border-bottom: 1px solid #cacaca;
        margin-bottom: 1rem;
    }
}